/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #1b1b1b;
}

.header,
.footer,
.navbar__list,
.main__section,
.media,
.about__camera,
.bottom__section,
.contact__section {
  display: flex;
  justify-content: space-between;
}

.main,
.bottom__section,
.about__main,
.contact__main,
.wrapper {
  display: flex;
}

.input,
.label {
  display: none;
}

.main,
.about__main,
.wrapper,
.contact__main,
.contact__section {
  flex-direction: column;
}

.navbar__item,
.trademark {
  font-size: 16px;
}

.description,
.about,
.about__camera__paragraph {
  font-size: 18px;
}

.navbar__item,
.trademark,
.item {
  font-weight: 500;
}

.author,
.topic,
.button,
.about,
.about__author,
.about__camera__paragraph {
  font-weight: 700;
}

.logo,
.media,
.trademark {
  width: 269px;
}

.link,
.fa-brands,
.fa-solid,
.about__author {
  color: #fff;
}

.topic,
.button,
.item,
.about,
.about__author {
  text-transform: uppercase;
}

.header,
.footer {
  align-items: center;
  padding: 0 140px;
  background-color: #202020;
}

.head__section {
  height: 900px;
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
}

.header {
  height: 118px;
}

.logo {
  padding-right: 100px;
}

.navbar {
  width: 288px;
}

.navbar__item {
  margin: 0 15px;
}

.main {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.author {
  font-size: 24px;
  line-height: 28px;
  margin-top: 158px;
}

.topic {
  display: block;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  margin: 25px;
  text-align: center;
}

.description {
  display: inline-block;
  font-weight: 400;
  line-height: 30px;
  width: 460px;
  text-overflow: inherit;
}

.button {
  width: 200px;
  padding: 18px 40px;
  margin: 48px;
  border-radius: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #272142;
  background-color: #fff;
}

.main__section {
  padding: 100px 140px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.main__section__item {
  padding: 20px;
  height: 280px;
  max-width: 100%;
}

.footer {
  height: 100px;
}

.media {
  gap: 30px;
  width: 100px;
}

.fa-brands,
.fa-solid {
  width: 14px;
  height: 14px;
}

.main__navbar {
  display: none;
  position: relative;
  top: -44px;
  background-color: #212121;
  width: 100%;
}

.item {
  padding: 15px;
  font-size: 20px;
  line-height: 24px;
}

/* about page */
.top__section {
  display: flex;
}

.aside {
  width: 45%;
  height: 782px;
  background-image: url(../images/bg-vertical.png);
  background-position: center;
}

.about__main {
  width: 45%;
  justify-content: space-around;
  padding: 0 40px;
}

.about {
  height: 21px;
  color: #f65282;
  letter-spacing: 0.1em;
}

.about__author {
  margin: 60px 0;
  font-size: 64px;
  letter-spacing: 0.1em;
  line-height: 75px;
}

.about__camera {
  width: 423px;
  align-items: center;
  background-color: #2d2727;
  padding: 20px;
}

.about__camera__image {
  width: 70px;
  height: 40px;
}

.about__camera__paragraph {
  line-height: 30px;
}

.bottom__section {
  padding: 100px 144px;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom__section__photo {
  height: 280px;
}

/* contact page */
.contact__topic {
  margin: 32px 0 112px 0;
}

.wrapper {
  min-height: 100%;
}

.contact__main {
  flex: 1 1 auto;
  height: 250px;
  align-items: center;
  gap: 40px;
}

.contact__section {
  gap: 10px;
}

.contact__paragraph,
.contact__info {
  text-align: center;
}

.contact__paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #f65282;
  margin-top: 40px;
}

.contact__info {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 1008px) {
  .aside,
  .about,
  .about__camera,
  .main__media,
  .trademark,
  .hidden {
    display: none;
  }

  .main__section,
  .bottom__section {
    padding: 20px;
  }

  .main__section__item {
    padding: 10px;
    height: 300px;
  }

  .description {
    text-align: justify;
  }

  .about__main {
    width: 100%;
    align-items: center;
  }

  .header,
  .footer {
    padding: 0 40px;
  }
}

@media (max-width: 640px) {
  .description,
  .navbar__list {
    display: none;
  }

  .main__section {
    padding: 10px;
    justify-content: center;
  }

  .main__section__item {
    padding: 10px;
    height: 300px;
  }

  .header,
  .footer {
    padding: 0 10px;
  }

  .logo {
    width: 100px;
    padding: 0;
  }

  .label {
    display: block;
    position: relative;
    align-self: end;
    margin: 0 40px;
    bottom: 65px;
  }

  .topic {
    font-size: 36px;
  }

  .about__author {
    text-align: center;
  }

  #input:checked ~ .main__navbar {
    display: block;
  }
}
